//BDD//
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_DATABASE=

//JWT//
SESSION_SECRET=
REFRESH_SECRET=


FRONTURL=

//cookies//
SECURE_ENV=
SAMESITE_ENV=

//Back//
PORT=

//NodeMailer//
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
FRONTEND_URL=

//Stripe//
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

//NoSQL//
MONGODB_URI=mongodb://localhost:27017/clickandtroc